.content {
  position: absolute;
  width: 50rem;
  height: 30rem;
  background-color: rgb(25, 136, 138);
  transform: translate(50%, 30%);
  -webkit-transform: translate(50%, 30%);
  -moz-transform: translate(50%, 30%);
  -ms-transform: translate(50%, 30%);
  -o-transform: translate(50%, 30%);
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
.content-child {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  width: 25rem;
  height: 15rem;
  background-color: rgb(234, 154, 7);
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  color: white;
  font-size: 5rem;
  text-align: center;
}
